body {
font-family: 'GothaProReg', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.wrapper {
overflow-x: hidden !important;
}

h1,
h2,
h3
{
font-family: 'GothaProBol', 'Helvetica Neue', Helvetica, 'Lato',  Arial, sans-serif;
font-weight: 700;
color: #333;
}

h4,
h5,
h6 
{
font-family: 'GothaProMed', 'Helvetica Neue', Helvetica, 'Lato',  Arial, sans-serif;
font-weight: 500;  
color: #333;
}

.btn-primary {
  background-color: #2196F3; 
}

.btn-primary {
  background-color: #2196F3; 
}

.btn-primary:focus, .btn-primary:active, .btn-primary:hover {
  background-color: #1976D2; 
}

header.masthead {
position: relative;
background-color: #343a40;
background: url("../img/man2.jpg") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding-top: 12rem;
padding-bottom: 12rem;
max-height: 570px;
}



header.masthead .overlay {
position: absolute;
background-color: #212529;
background-size: cover;
height: 570px;
top: 0;
left: 0;
opacity: 0.3;
}

header.masthead h1 {
font-size: 2rem;
}

@media (max-width: 768px) {
header.masthead {
  margin-top: 0px;
  }

.form-row input {
  display: none !important;
}

.actbtn {    
  margin-left: 0px !important;
  width: 100%;
}
.to-hide {
  display: none !important;
}

.btn-call {
  right: 5%;  
  width: 50px;
  height: 50px;  
  font-size: 36px;  
  bottom: 5%;
}

.emailform {
margin: 0px !important;
}

}


@media (min-width: 768px) {
header.masthead {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.form-row input {
  display: inline !important;
}

header.masthead h1 {
  font-size: 3rem;
}
.emailform {
 display: inline-block !important;

}

.btn-call {
  right: 70px;  
  bottom: 50px;  
  width: 80px;
  height: 80px;  
  font-size: 56px;
}
.actbtn {
margin-left: -18px !important;
}
}

@media (min-width: 768px) and (max-width: 992px) {
  .actbtn {
    min-width: 120%;
  }
}

@media (max-width: 991px) {
.bigtext {
  max-width: 100% !important;
  font-size: 40px;
  line-height: 40px;
}

.text-left {
  width: 100%;
  margin: 5px !important;
}

header.masthead {
  padding-top: 5rem !important;
  padding-bottom: 5rem;
  margin-top: 64px;
}
  .margin-menu {  
  margin-top: 36px;
} 

}

@media only screen 
and (min-width : 300px) and (max-width : 330px) {
  .navbar {
    padding-left: .5rem !important;
  }

  .bigtext {
    font-size: 36px;
    line-height: 36px;
  }
}


@media (max-width: 992px) {
.menulink a {
  display: none;
}
.menubutton {
  display:inline;
}

.nav-bottom {
  display: none;
}

.navbar.header_block {

box-shadow: 0px 4px 13px 0px #49505738;
}

.b-l {
  border-left: none;

  border-bottom: 1px solid #BDBDBD;
}

.b-r {
  border-right: none;

  border-bottom: 1px solid #BDBDBD;
}

.b-t {
  border-top: none;

  border-bottom: 1px solid #BDBDBD;
}
 
.b-b {  
  border-bottom: 1px solid #BDBDBD;
}

section.what-we-offer {
  display: none !important;
}

.topover {
box-shadow: none;

-webkit-box-shadow: none;
-moz-box-shadow: none;
}

section[class="variable slider"] {
  display: inline-block;
}
.slider-hidden {
  display: inline-block;
}

.icon-pic {
  margin: 0px !important;
  padding: 0px !important;
  justify-content: center;
  max-height: 100px;
}

.features-icons-icon.d-flex
{
  justify-content: center;
}
.features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3 {
  margin-bottom: 10px !important;
}
.showcase .showcase-img {
  display: none;
}

.showcase-text .lead.mb-0 {
  /*margin-top: -35px;*/
  text-align: justify;
  color: #757575;
}

.single-item .slick-next {
right:18px !important;
}

.single-item .slick-prev {
left:15px !important;
}

}

@media (max-width: 992px) and (min-width: 499px) {

header.masthead {
padding-top: 5rem;
padding-bottom: 5rem;
max-height: 500px;
margin-top: 64px;
}
}


@media (min-width: 993px) {
.margin-menu {  
  margin-top: 58px;
}

header.masthead {
padding-top: 8rem;
padding-bottom: 12rem;
max-height: 570px;
margin-top: 78px;
}

.menubutton {
  display:none;
}
.variable {
  display: none !important;
}
.slider-hidden {
  display: none;
}

.topover {

box-shadow: 1px 7px 27px 9px rgba(0, 0, 0, 0.15);
-webkit-box-shadow: 1px 7px 27px 9px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 1px 7px 27px 9px rgba(0, 0, 0, 0.15);
}

.b-l {
  border-left: 1px solid #BDBDBD;
}

.b-r {
  border-right: 1px solid #BDBDBD;
}

.b-t {
  border-top: 1px solid #BDBDBD;
}
 
.b-b {
  border-bottom: 1px solid #BDBDBD;
}

.bigtext {
  font-size: 50px;
  line-height: 60px;
}


}



@media (max-width: 499px) {
.call {
  display: none;
}
.text-left {
  padding: 1rem !important;    
  justify-content: center !important;
  text-align: center !important;
}
.actbtn {
  max-width: 450px;
  border-radius: 2px !important;
}

header.masthead {
padding-top: 7rem;
padding-bottom: 7rem;
max-height: 500px;
}
}

@media (min-width: 499px) {
.calltopline {
  display: none;
}

.actbtn {
  border-radius: 0px 2px 2px 0px !important;
}

}

.showcase p, .showcase li  {
  line-height: 32px;
}
.showcase .showcase-text {
padding: 3rem;
line-height: 32px;
}

.showcase .showcase-img {
min-height: 8rem;
background-size: cover;
border-radius: 2px;
}

@media (min-width: 768px) {
.showcase .showcase-text {
  padding: 4rem;
}
}

.features-icons {
padding-top: 2rem;
padding-bottom: 6rem;
}

.features-icons .features-icons-item {
max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
font-size: 3.5rem !important;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
font-size: 4rem !important;
transition: 0.2s ease-out !important;
}

.boxslide {
max-width: 190px;
}

.testimonials {
padding-top: 1rem;
padding-bottom: 7rem;
}

.testimonials p {
  color: #757575;
  font-size: 15px;
}

.testimonials .testimonial-item {
max-width: 18rem;
}

.testimonials .testimonial-item img {
max-width: 12rem;
box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
position: relative;
background-color:#8BC34A;

background: url("../img/man3.jpg") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding-top: 25px;
padding-bottom: 25px;
}

.call-to-action .overlay {
position: absolute;
/*background-color: #212529;
opacity: 0.3;*/
height: 100%;
width: 100%;
top: 0;
left: 0;

}

footer.footer {
padding-top: 4rem;
padding-bottom: 4rem;
}


.text-blue {
color: #2196F3;
}


.header_block .logo {
float: left;
display: block;
width: 100%;
max-width: 190px !important;
margin-right: 35px;
margin-left: 5px;
}
a {
margin: 0;
padding: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}


img {
box-sizing: inherit;
max-width: 100%;
}

.btn {
font-family: 'GothaProMed', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
border: 2px solid transparent;
font-size: 16px;
border-radius: 2px;
outline: none !important;
}

.actbtn {
margin-bottom: 2rem;
border-radius: 2px;
font-family: 'GothaProMed', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 16px;
}


@font-face {
font-family: GothaProReg;
src: url(GothaProReg.otf);
}
@font-face {
font-family: GothaProBol;
src: url(GothaProBol.otf);
}

@font-face {
font-family: GothaProMed;
src: url(GothaProMed.otf);
}

@font-face {
font-family: GothaProLig;
src: url(GothaProLig.otf);
}

.menulink a {
padding-left: 0.5rem;
padding-right: 0.5rem;
margin-left: 0.5rem;
margin-right: 0.5rem;
font-family: 'GothaProMed', Helvetica, 'Lato','Helvetica Neue', Arial, sans-serif;
text-transform: uppercase;
font-kerning: none;
color: #666;
font-weight: 540;
}

.menulink a:hover {
text-decoration: none !important;
color: #2196F3;

}

.bg-white {
background-color: white;
}

.topover {
background: #fff;
border-radius: 5px;
overflow: hidden;
width: 100%;
position: relative;
flex-wrap: wrap;
margin-top: 0px;
}

.under {
z-index: 1;
position: relative;
}

.services {
  padding: 2em;
/*top: -170px;
z-index: 20;
position: relative;*/

margin-top: 2em;

}

.lead {
font-size: 15px;
font-weight: 300;
color: #757575;
}

.features-icons-item h4 {
/* font-size: 0.95rem;*/
}

.call {
color: #21242d;
font-weight: 500;
/*padding-top: 6px;
margin-bottom: 4px;*/
justify-content: center;
text-align: center;
font-size: 15px;
font-family: 'GothaProReg', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.call a {
border-bottom: 1px dashed #2196F3;
}
.call a:focus {
border-bottom: 1px dashed #1976D2;
}
.call a:hover {
text-decoration: none;
color: #007bcc;
border-bottom: 1px dashed #007bcc;
}

.calltopline {
background-color: #007bcc;
margin:0px;
padding-left: 10px;
max-height: 2rem;
justify-content: flex-start;
}

.calltopline .icon-phone {
margin-right: 10px;
}

.calltopline .phone, .calltopline .phone:hover {
border-bottom: 1px dashed #fff;
text-decoration: none;
color: #ffffff;
}

.menubutton a,.menubutton a:hover{
font-size: 1.6rem;
text-decoration: none;
color: #333;
}

.menubutton {
  margin-top: 8px;
}

.sidenav {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 2000; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-color: rgba(255,255,255,0.97);
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
padding: 1rem 1rem 1rem 4rem;
text-decoration: none;
font-family: 'GothaProReg', Helvetica,  'Lato', 'Helvetica Neue', Arial, sans-serif;
color: #666;
display: block;
transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
color: #1976D2;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
transition: margin-left .5s;
padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}



/*slick*/
.slider {
width: 80%;
margin: 2rem auto;
}

.slick-slide {
margin: 0px 20px;
}

.slick-slide img {
width: 100%;
}

.slick-prev:before,
.slick-next:before {
color: black;
}


.slick-slide {
transition: all ease-in-out .3s;
}

.slick-active {

}

.slick-current {
opacity: 1;
}

.boxslide {
font-size: 4rem;
}

.slickbox div {
max-width: 310px;
}

.slickbox h5 {
text-align: center;
padding-top: 1rem;
}
.slickbox h5, .slickbox p {
text-align: center;
}

h2 {
font-kerning: none;
font-size: 40px !important;
color: rgb(73, 73, 73) !important;
margin-bottom: 4rem!important;
}

.showcase-text h2 {
border-bottom: 2px solid #000000;
}


.slideanim {visibility:hidden;}
.slide {
/* The name of the animation */
animation-name: slide;
-webkit-animation-name: slide; 
/* The duration of the animation */
animation-duration: 1s; 
-webkit-animation-duration: 1s;
/* Make the element visible */
visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
0% {
  opacity: 0;
  transform: translateY(70%);
} 
100% {
  opacity: 1;
  transform: translateY(0%);
} 
}
@-webkit-keyframes slide {
0% {
  opacity: 0;
  -webkit-transform: translateY(70%);
} 
100% {
  opacity: 1;
  -webkit-transform: translateY(0%);
}
}

.bg-white {
background-color: #fff !important;
}

p.mb-5 {
color: #333 !important;
margin-bottom: 20px  !important;
font-size: 16px;
line-height: 24px;
font-family: 'GothaProReg', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.text-left {
background-color: rgba(255, 255, 255, 0.8);
padding: 40px;
padding-right: 2rem;
padding-left: 3rem;
border-radius: 2px;
}

.link-active {
color: #2196F3 !important;
} 

.link-active:hover {
color: #007bcc !important;
} 

.modal-header {
/* display: -webkit-box; */
display: -ms-flexbox;
display: inline !important; 
/* -webkit-box-align: start; */
-ms-flex-align: start;
align-items: flex-start;
/* -webkit-box-pack: justify; */
-ms-flex-pack: justify;
/* justify-content: space-between; */
padding: 1rem;
border-bottom: 1px solid #e9ecef;
border-top-left-radius: .3rem;
border-top-right-radius: .3rem;
}

.modal-content {
border: none !important;
border-radius: 2px !important;
}

button.close:hover {
color: #2196F3;
}

button.close {
color: #007bcc;
font-size: 1.9rem;
}

.modal-header, .modal-footer {
background-color: #f9f9f9;
border: none;
}

.modal-footer p {
margin: 0px;
font-size: 0.9rem;
text-align: center;
}

.modal-footer  {
justify-content: center !important;
}

.modal-header button {
margin: 0px;
}

.modal-header {
padding-top:.5rem;
padding-bottom: .5rem;
}

.text-grey {
color: #333;
}

.bigtext {
font-family: 'GothaProBol', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight: 700;
}

.form-row {
margin: 0px;
}

.navbar {
box-shadow: none;
}

.nav-bottom {
border-top: 1px solid #ddd;  
box-shadow: 0px 4px 13px 0px #49505738;
z-index: 1030;
margin-top: 60px !important;
}


.bg-grey {
background-color: #eee !important; 
}

.nav-bottom {
border-top: 1px solid #ddd !important;
}

.nav-bottom a {
font-family: 'GothaProMed';
color: #666;
line-height: 24px;
font-size: 12px;
padding: 0px 5px 0px 5px;
}

.nav-bottom a:hover {
color: #1976D2;
cursor: pointer;  
text-decoration: none;
}

.form-row input {
outline: none;  
border: 2px solid transparent;
font-family: 'GothaProLig', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 16px;
border-radius: 2px;
margin-left: -6px;
color: #777;
line-height: 1.5;
height: 44px !important;
}

.icon-pic {
line-height: 1;
height: inherit;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
padding-bottom: 1rem;
}

.icon-pic:hover {
padding-bottom: 0.5rem;
transition: 0.3s ease-out;
}

.features-icons-icon.d-flex {
  margin-top: 9px;
}

.services a, .slickbox a{
color: #494949;
}

.services a:active, .services a:hover, .slickbox a:active, .slickbox a:hover,  {
text-decoration: underline;
}

section.variable {
max-width: 300px;
justify-content: center;
}

p.description {
margin-top: -38px;
color: #757575;
}
.showcase p.description {
margin-bottom: 2em;
}
.showcase {
padding-top: 2rem;
}

input.form-control, .modal textarea   {
height: 40px;
font-family: 'GothaProLig';
padding: 10px 19px;
border: 1px solid #e0e0e0;
border-radius: 2px;
color: #767676;
background-color: #fff;
background-image: none;
font-size: 14px;
line-height: 14px;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}



.modal h3 {
font-size: 30px !important;
line-height: 38px;
font-weight: 700;
color: rgb(73,73,73) !important;
margin-bottom: 30px;
}

.modal p {
font-family: 'GothaProLig';
margin-top: -5px;
margin-bottom: 11px;
}

.modal img {
margin-top: 40px;
vertical-align: middle;
margin: auto;
max-height: 150px;
}

.modal-body {
position: relative;
font-size: 14px;
}


.formbtn {
width: auto;
font-family: 'GothaProMed',Helvetica,Arial,sans-serif;
font-weight: 300;
vertical-align: middle;
margin: auto;
}

.modal-footer p{
margin-bottom: 0px;
width: 100%;
}

.modal-footer {
padding: 0.8rem;
}


.how-it-works .col-md-3{
background-color: #fff;
border-radius: 2px;
}

.how-it-works .icon-pic {
padding: 0px;
margin-bottom: 15px;
}

.how-it-works h5 {
margin-top: 1rem;
}

.section-btn {
width: auto;
font-family: 'GothaProMed',Helvetica,Arial,sans-serif;
font-size: 16px;
vertical-align: middle;
margin: auto;
border-radius: 2px;
outline: none;
margin-top: 1rem;
}

.partners {
background-color: #737373;
border:none !important;
color: #fff;
}

.partners a:hover {
  text-shadow: rgba(189, 189, 189, 0.8) 0 0 10px;
} 

@media (max-width: 561px) {
.partners {
  display: none;
}
}

.partners .container {
display: flex;
padding: 1.1rem;
justify-content: ;
align-items: center;
margin: auto;
min-height: 85px;
}

.partners .container a {
font-family: 'GothaProReg', 'Lato', Helvetica, sans-serif;
display: inline-block;
font-weight: 600;
font-size: 14px;
line-height: 16px;
margin: auto;
padding: auto;
}

.partners .container a:hover {
cursor: pointer;
}

.partners .container a i:hover {
/*color: #1976D2;*/
}

.partners .container a::after{
  max-width: 180px;
  }

.partners i {
  font-size: 35px;
  font-weight: 300;
  margin: 0px 15px 20px 0px;
}

.emailform {
display: inline-block !important;
}

.slick-next, .slick-prev {
color: #000 !important;
z-index: 1000 !important;
}

.slick-next, .slick-prev {
font-weight: 700;
color: rgba(45,45,45,.8) !important;
font-size: 30px !important;
}


.slick-next {
right:75px;
}

.variable .slick-prev {
left:-15px !important;
}

.variable .slick-next {
right:-15px !important;
}

.slick-prev {
left:75px;
}


.slick-prev::before {
color: rgba(45,45,45,.8) !important;
font-size: 30px !important;
}

.slick-next::before {
color: rgba(45,45,45,.8) !important;
font-size: 30px !important;
}


.shinetext {
  -moz-box-shadow:0 0 10px #000;
-webkit-box-shadow:0 0 10px #000;
box-shadow:0 0 10px #fff;
}

.btn-call {
  position: fixed;
  z-index: 1005;
  display: block;
  background-color: #8BC34A;
  border-radius: 50%;
  behavior: url(PIE.htc);
  color: #fff !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  box-shadow: 0 0 7px #636363;
  cursor: pointer;
  text-decoration: none;
}

.btn-call a, .btn-call a:hove, .btn-call a:active, .btn-call a:focus{
  cursor: pointer;
  text-decoration: none !important;

  color: #fff !important;
}
}

.btn-call:hover {
  box-shadow: 0 0 14px #636363;  
  transition: 0.1s ease-out;

}

.call-to-action {
  max-height: 400px;
}

.link-green {
  color: #8BC34A !important;
}


.link-green:hover {
  color: #8BC34A;
  text-decoration: underline;
}


.services .link-green, .variable .link-green{
  font-size: 15px;
  font-family: 'GothaProMed', Helvetica, sans-serif !important;
  font-weight: 300;
  padding: 5px;
  /*border: 1px solid #8BC34A;
  border-radius: 2px;*/
  text-align: center !important;
  margin: auto;
}



.div-btn {
  margin-top: -110px;
  padding: 45px;
  z-index: 5;
}

.panel {
  border-radius: 5px;
  background-color: #fff;
  margin: auto auto 25px auto;
  width: 100%;
  box-shadow: 1px 7px 27px 9px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 7px 27px 9px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 7px 27px 9px rgba(0, 0, 0, 0.15);
  
}
.pricing .col-lg-4 {
  border-radius: 5px;

}



.pricing h3 {
  padding: 15px;
}

.pricing h2 {
  padding-top: 45px;
}


@media (max-width: 991 ) {
  .pricing h3 {
    font-size: 1.5em;
}
}
.pricing .panel-footer {
  padding: 1rem;
}

.pricing .panel-heading {
  background: #f2f2f2;
}

.panel-footer {
  border-top: 1px solid #BFBFBF;
}


.why-choose-us  {
  padding-top: 45px;  
  padding-bottom: 45px;
}

.indent {
  text-indent: 1.5em !important;
}


.btn-more {
  justify-content: center;
  margin: auto;
}


.slickbox .mt-2 {
  width: 100%;
  margin: auto;
  justify-content: center;
  padding: auto;
}

#map {
  width: 100%;
  min-height: 200px;
}

.contacts h3 {
  padding: 0rem 0rem 1.5rem 0rem;
}

.contacts p {
  line-height: 30px;
}

.btn-call a {
  color: #fff;
}

.btn-call a:hover {
  color: #fafafa;
}

.vacancy {
  padding: 2rem;
  border-radius: 2px;
  margin-bottom: 2rem;
}

.vacancy h5 {
  padding-bottom: 1rem;
}

.vacancy p {
  color: #555;
}

.vacancy img {
box-shadow: 0px 5px 5px 0px #adb5bd;
}
