header.masthead {
position: relative;
background-color: #343a40;
background: url("../../img/security.jpg") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding-top: 12rem;
padding-bottom: 12rem;
margin-top: 78px;
max-height: 500px;
}


header.masthead .security {
background: url("../../img/security.jpg") no-repeat center center;
}

header.masthead .remont {
background: url("../../img/remont.jpg") no-repeat center center;
}

header.masthead .pogruz {
background: url("../../img/pogruz.jpg") no-repeat center center;
}

header.masthead .cleaning {
background: url("../../img/cleaning.jpg") no-repeat center center;
}

header.masthead .otdelka {
background: url("../../img/otdelka.jpg") no-repeat center center;
}

header.masthead .food {
background: url("../../img/otdelka.jpg") no-repeat center center;
}



@media (max-width: 989px) {

header.masthead {
  padding-top: 4rem !important;
  padding-bottom: 5rem;
  margin-top: 64px;
}

}

.icon-service-logo {
	max-width: 150px;
}


@media (min-width: 768px) {

.showcase .showcase-text {
  padding: 2rem;
}

.showcase .showcase-img {
  min-height: 24rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 0rem 2rem 0rem 5rem !important;
  }
}

showcase-img {
	display: inline !important;
}


@media (max-width: 992px) {
.showcase .showcase-img {
  display: initial;
}

.showcase-text  {
  text-align: justify;
}

}

.showcase-text h2 {
    border-bottom: none;
    margin-bottom: 1.5rem !important;
    text-decoration: none !important;
}


.showcase-text  {
  line-height: 32px;
}

.topover {
  box-shadow: 1px 7px 27px 9px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 1px 7px 27px 9px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 7px 27px 9px rgba(0, 0, 0, 0.05);
}

